.custom-shape-divider-bottom-1620912850 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    top:"200px"
}

.custom-shape-divider-bottom-1620912850 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 118px;
}

.custom-shape-divider-bottom-1620912850 .shape-fill {
    fill: #FEFEFE;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1620912850 svg {
        width: calc(155% + 1.3px);
        height: 126px;
    }
}